@keyframes ex-anima{
	0% {background-color: red;top: 0; left: 0;}
	25% {background-color: yellow; border-radius: 20px ; top: 0px; left: 200px; }
	50% {background-color: blue; border-radius: 40px; top: 200px; left: 200px;}
	75% {background-color: green; border-radius: 60px; top: 200px; left: 0px;}
	100% {background-color: red; border-radius: 100px; top: 0px; left: 0px;}
}

@keyframes anima-sombra{
	0% {box-shadow: 10px 10px 30px lightblue; margin-top: 400px; margin-right: 10px;}
	25% {box-shadow: 20px 20px 30px lightgreen; margin-top: 300px; margin-right: 200px;}
	50% {box-shadow: 10px 10px 30px red; margin-top: 200px; margin-right: 10px;}
	75% {box-shadow: 20px 20px 30px yellow; margin-top: 100px; margin-right: 200px;}
	100% {box-shadow: 10px 10px 30px lightblue; margin-top: 0px; margin-right: 10px;}
}

body{
	margin: 0;
	background-color: #EEE;
}
form{
	width: 200px;
	height: 200px;
	background-color: #DDD;
	margin: auto;
	padding: 50px;
	margin-top: 0px;
	box-shadow: 10px 10px 30px lightblue;
	border-radius: 100px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	animation-name: anima-sombra;
	animation-duration: 5s;
	animation-iteration-count: 2;
}
input{
	padding: 5px;
	font-size: 13px;
}

.exemplo{
	width: 100%;
	height: 200px;
	background-color: blue;
	background: linear-gradient(45deg,white,lightblue);
	background: -moz-linear-gradient(white,lightblue);
	background: -o-linear-gradient(white,lightblue);
	background: -webkit-linear-gradient(white,lightblue);
}

.ex-anima{
	width: 150px;
	height: 150px;
	background-color: red;
	position: absolute;
	animation-name: ex-anima;
	animation-duration: 4s;
	animation-delay: 1s;
	animation-iteration-count: 2;
}

.texto{
	width: 400px;
	height: 200px;
	background-color: lightgreen;
	font-size: 40px;
	color: green;
	text-transform: uppercase;
	padding: 50px;
	margin: 20px auto;
	text-shadow: 2px 2px 5px #888;
	transition: all 1s linear;
	word-wrap: break-word;
}
.texto:hover{
	width: 600px;
	height: 200px;
	background-color: lightblue;
	font-size: 40px;
	color: green;
	text-transform: uppercase;
	padding: 20px;
	margin: 20px auto;
	text-shadow: 2px 2px 5px #888;	
}