body {
    background-color: lightseagreen;
}
.main_menu {
    background-color: lightcyan;
}
.main_menu ul,
.main_menu li {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.main_menu li {
    padding: 10px;
}

.container {
    width: 70%;
    float: left;
}

sidebar {
    width: 30%;
    float: left;
}

.widget_title{
    color: #0000FF;
}

article {
    border-bottom: 1px solid black;
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

article .post_thumbnail {
    float: left;
    margin-right: 20px;
}

.paginacao {
    margin-top: 30px;
    scroll-margin-bottom: 30px;
}

.pagina_anterior {
    float: left;
}
.pagina_proxima {
    float: right;
}

footer {
    margin-top: 100px;
}