* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
}

header {
    display: flex;
    flex-direction: row-reverse;
}

nav {
    display: flex;
    justify-content: center;
    height: 60px;;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: aquamarine; */
}

nav li {
    margin: 8px;
    list-style: none;
    /* background-color: lightcoral; */
    border-radius: 20px;
}

nav li:hover {
    text-decoration: underline; 
}

li img {
    padding: 8px;
    border-radius: 20px;
}

li img:hover {
    background-color: rgba(240, 240, 240,1);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.componentes {
    display: flex;
    justify-content: center;
    margin: 15px;
    width: 500px;
    padding: 8px 12px;
    border: 1px solid #eeeeee;
    border-radius: 25px;
    box-shadow: 2px 2px 2px #dddddd;
}

.componentes img {
    padding-right: 5px;
}

input {
    color: #aaaaaa;
    font-size: 10pt;
    border: 0 none;
    width: 100%;
}

input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

input::placeholder {
    color: #aaaaaa;
}

input:focus::placeholder {
    color: transparent;
}

.adicionar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.adicionar:hover {
    background-color: rgba(240, 240, 240,.5);
}

.adicionar .icone {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 240, 240,1);
    font-size: 18pt;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.adicionar p {
    margin-top: 20px;
    font-size: 10pt;
}

footer {
    right: 5px;
    bottom: 10px;
    position: fixed;
}

.personalizar {
    display: flex;
}

.lapis {
    background-color: lightgreen;
    padding: 8px;
    border-radius: 24px;
}

@media screen and (max-width: 600px) {
    .componentes {
        width: 350px;
    }

}

@media screen and (max-width: 350px) {
    .componentes {
        width: 300px;
    }
}