* {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* CABEÇALHO */
header {
    display: flex;
    background-color: #eeeeee;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

header .foto img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 20px;
}

header .frase {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: 'Satisfy', cursive;
    font-size: 30px;
    font-weight: bold;
}

header .frase #autor {
    font-size: 20px;
    padding: 10px;
}

/* CORPO */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 20px;
}

section .titulo {
    text-align: center;
    padding: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

section .texto {
    text-align: justify;
    padding: 20px;
}

h4 {
    margin-bottom: 0.83em;
}

p { 
    text-indent: 1.5em; 
    margin-bottom: 0.83em;
    text-align: justify;
        
}

section .texto2 {
    margin: 10px;
    padding: 10px;
    display: none;
    transition: all .5s;
}

.titulo-biografia {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #eeeeee;
    margin-top: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.titulo-biografia:hover {
    background-color: #dddddd;
}

.simbolo {
    padding-right: 20px;
    font-size: 25px;
}


#check:checked ~ .texto2 {
    display: block;
}

#check {
    display: none;
}


footer {
    display: flex;
    justify-content: center;
    background-color: #eeeeee;
    margin: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.btn-voltar {
    display: none;
    z-index: 10;
    position: fixed;
    bottom: 4%;
    right: 3%;
    width: 130px;
    height: 50px;
    background-color: #eeeeee;
    border-radius: 6px;
}

.btn-voltar-link {
    text-decoration: none; 
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 50px;
    color: #000000;
    font-weight: bold;
    font-size: 0.8em;
    cursor: pointer;    
    border-radius: 6px;
}

.btn-voltar-link:hover {
    background-color: #dddddd;
}

@media (max-width:700px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    header .foto img {
        width: 150px;
        height: 150px;
        border-radius: 75px;
    }

    header .frase {
        font-size: 25px;
    }

    header .frase #autor {
        font-size: 15px;
        padding: 10px;

    }

}